.movie-details-parent-container{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2rem;
    border: 1px solid white;
}

.movie-poster-path{
    width: 60%;
}

.movie-details-container{
    width: 100%;
}

.movie-details-container p{
    font-size: 0.7rem;
    font-weight: 400;
}

.movie-details-container span{
    font-size: 0.8em;
    font-weight: normal;
}

.add-btn{
    width: 20%;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgb(215, 215, 239);
    cursor: pointer;
}

@media (max-width: 768px){
    .add-btn{
        width: 30%;
        font-size: 0.5rem;
        font-weight: 500;
    }

    .movie-details-container{
        width: 60%;
    }
}