

body{
    box-sizing: border-box;
    background-color: black;
    font-family: Poppins;
}
.movie-list{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1%;
    justify-content: center;
    margin-top: 10px;
    
}

.movie-image {
    width: 80%;
}

.detect-form{
    width: 100%;
    text-align: center;
    margin-bottom:30px;
}
.detect-form input{
    padding: 1rem;
    width: 60%;
    outline:none;
    background-color: peachpuff;
    color:black;
    border: none;
}
.detect-form button{
    padding: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}
.detect-form button:hover{
    background-color: rgb(26, 26, 176);
    color:white;
    transition: 0.33s ease;
    
}
.btn-icon-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-weight: 500;
}
.btn-icon-container button {
    background-color: red;
    color: white;
}

.love-icon{
    width: 6em; 
    cursor: pointer;
}

.fave-btn{
    width: 30%;
    padding: 1rem;
    outline: none;
    font-size: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: rgb(195, 195, 220);
    margin-top: 20px;
}

.fave-btn:hover{
    background-color: rgb(26, 26, 176);
}

.add-btn:hover{
    background-color: rgb(26, 26, 176);

}

.addBtn{
    margin-top: 20px;
}

@media (max-width: 768px) {
    .movie-list{
        grid-template-columns: 45% 45%;
        gap: 0.3%;
    }

    .detect-form{
        margin-bottom:20px;
        width: 80%;
    }
    .detect-form input{
        padding: 1rem;
        width: 40%;
    }
    .detect-form button{
        padding: 1rem;
    }
    .love-icon{
        width: 9em; 
    }

    .fave-btn{
        width: 45%;
        padding: 1rem;
        font-size: 0.5rem;
    }
    
    .add-btn:hover{
        background-color: rgb(26, 26, 176);
    
    }
}

@media (max-width: 515px) {
    .movie-list{
        grid-template-columns: 90%;
        gap: 0.5%;
    }
    
    .fave-btn{
        width: 45%;
        padding: 0.4rem;
        font-size: 0.5rem;
    }
}