.header{
    display: flex;
    gap: 30px; 
}

.header h1{
    align-items: flex-end;
    text-align: center;
    align-items: center;
    color: white;
    margin-left: 450px;
}

.header img{
    width: 40px;
    height: auto;
}

@media (max-width: 768px) {
    .header h1{
        align-items: flex-end;
        text-align: center;
        color: white;
        margin-left: 130px;
    }
}

@media (max-width: 530px) {
    .header h1{
        color: white;
        margin-left: 50px;
    }
}

